body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: #ff5050;
  font-size: 20px;
}

#map{
  position: relative;
  border: 1px grey;
  border-radius: 10px;
  height: 800px;
  width: 100%;
  margin:20px;
  padding:0; 
}

#selDataset {
  position: static;
  margin-left: -10px;
}
/* body,
html {
  height: 100%;
} */

.leaflet-popup-content {
  text-align: center;
}
.leaflet-control-layers {
  text-align: left;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  line-height: 30px;
  color: #555;
  padding: 8px 10px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: left;
}
.legend i {
  width: 25px;
  height: 28px;
  float: left;
  margin-right: 10px;
  opacity: 0.8;
  font-size: 25px;
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}
p {
  font-size: 14px;
  text-align: center;
}
#stock{
  text-align: center;
}

/* .stockLine {
  fill: none;
  stroke-width: 4px;
} */

